.autumn-bg {
  height: auto;
  width: 100%;
  background: url('~images/content/autumn-bg.jpg')no-repeat center center;
  background-size: cover;
  position: relative;
}

.autumn__pic {
  position: absolute;
  top: -10%;
  right: 0;
}