.footer {
  background-color: #1b1f22;
  color: white;
  padding: 5rem 0;
}

.container--footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  display: flex;
  width: 25%;
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
}

.footer__info-additional {
  width: 40%;
}

.footer__info-quote {
  width: 40%;
  flex: 1;
}