.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 3.8rem;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: #ac782b;
  }
}

/*-------------------------- навигашка в футере */
.footer .nav__list {
  margin-bottom: 1rem;
}