.reviews {
  height: 50vh;
  width: 50%;
  overflow: hidden;
}

.container--reviews {
  display: flex;
  flex-wrap: wrap;
}

.reviews__title {
  padding-top: 10%;
  font-size: 3rem;
}

.reviews__arrows {
  display: flex;
  flex-wrap: nowrap;
}

.reviews__list {
  display: flex;

}

.reviews__item-pic-wrap {
  width: 10%;
  height: 10%;
}

.reviews__item-pic {
  border-radius: 100px;
}