.socials {
  display: flex;
}

.socials__item {
  margin-right: 2.8rem;
  &:last-child {
    margin-right: 0;
  }
}

.socials__pic {
  width: 25px;
  height: 25px;
  fill: rgba(128, 128, 128, 1);
  &:hover {
    fill: #f49506;
  }
}