include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  include ./includes/head.pug
  block title
    title Главная страница
    
  body
    .wrapper
      .start-section
        include ./includes/sections/paralax.pug
        include ./includes/sections/welcome
        include ./includes/sections/about-me.pug
      #app-skills
      #app-projects
      //- include ./includes/sections/projects.pug
      .autumn-bg
        +image('content/leaves.png', 'autumn__pic')
        #app-reviews-slider
        include ./includes/sections/connect.pug
      include ./includes/sections/footer.pug

      //- оверлей
      include ./includes/components/overlay.pug

      //- шаблончики для вью
      include ./includes/templates_for_vue/reviews.pug
      include ./includes/templates_for_vue/skills.pug
      include ./includes/templates_for_vue/projects.pug
