include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  include ./includes/head.pug
  block title
    title Главная страница
  body
    .wrapper
      .start-section
        include ./includes/sections/paralax.pug
        include ./includes/sections/welcome
        include ./includes/sections/about-me.pug
      include ./includes/sections/scills.pug
      include ./includes/sections/projects.pug
      .autumn-bg
        +image('content/leaves.png', 'autumn__pic')
        include ./includes/sections/reviews.pug
        include ./includes/sections/connect.pug
      include ./includes/sections/footer.pug
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>