ul(class='socials')
  li(class='socials__item')
    a(class='socials__link' href='#')
      +icon('Instagram', 'socials__pic')
  li(class='socials__item')
    a(class='socials__link' href='#')
      +icon('vk', 'socials__pic')
  li(class='socials__item')
    a(class='socials__link' href='#')
      +icon('github', 'socials__pic')