ul(class='socials')
  li(class='socials__item')
    a(class='socials__link' href='htpps://www.instagram.com/kakoi_to_muzhik')
      +icon('Instagram', 'socials__pic')
  li(class='socials__item')
    a(class='socials__link' href='https://vk.com/zvuk45')
      +icon('vk', 'socials__pic')
  li(class='socials__item')
    a(class='socials__link' href='https://github.com/Sokolov45')
      +icon('github', 'socials__pic')