.container.container--about-me
  .profile__wrapper
    .profile__pic-wrapper
      +image('content/user.jpg', 'profile__pic')
    ul.profile__info-list
      li.profile__info-item
        .profile__info-quest Проживаю:
        .profile__info-ans Тюмень
      li.profile__info-item 
        .profile__info-quest Возраст:
        .profile__info-ans 32 года
      li.profile__info-item
        .profile__info-quest Родился:
        .profile__info-ans 22 июля 1987

  .hello-from-author
    .hello-from-author__hello Привет, меня зовут
    .hello-from-author__name Антон Соколов
    .hello-from-author__i-do.
      Я занимаюсь разработкой современных сайтов и приложенийdi.
      Мне нравится делать интересные и современные проекты.
      
    .hello-from-author__sentiment.
      Этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool.
      Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      

