.container
  .profile__wrapper
    .profile__pic-wrapper
      +image('content/user.jpg', 'profile__pic')
    ul.profile__info-list
      li.profile__info-item
        .profile__info-quest Проживаю
        .profile__info-ans Тюмень
      li.profile__info-item 
        .profile__info-quest Возраст
        .profile__info-ans 32 года
      li.profile__info-item
        .profile__info-quest Родился
        .profile__info-ans 22 июля 1987

  .hello-from-author-wrapper

