section.connect#connect
  .container.container--connect
    .connect__title Связаться со мной
    form(action="").form
      .form__blocks
        .form__row
          label.form-label
            .form__label-title Введите ваше имя
            .form__input-wrap
              input(type="text" name="name" placeholder='Василиса Прекрасная' required).form__input
              +icon('Avatar', 'form__input-pic')
        .form__row
          label.form-label
            .form__label-title Ведите ваш email
            .form__input-wrap
              input(type="email" name="name" placeholder='gvtx@mail.ru' required).form__input
              +icon('envelope', 'form__input-pic')  
        .form__mes
          label.form-label
            .form__label-title Сообщение к письму
            .form__input-wrap
              textarea(name="comment" placeholder='Здравствуйте, мне посоветовали вас друзья, нужен проект интернет-магазина. Я хотела бы договориться с вами о встрече.' required).form__textarea
              +icon('message', 'form__input-pic--textarea')
      .form__buttons
        input.submit(type="submit" value="отправить")