footer.footer
  .container.container--footer
    .footer__copyright
      .footer__copyright-left-block © 2019
      .footer__copyright-right-block
        .footer__copyright-right-block-name Антон Соколов
        .footer__copyright-right-block-subject-of-agreement Личный сайт <br> веб-разработчика
    .footer__info
      +nav('nav', ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'], 5)
      .footer__info-additional
        .footer__info-additional-text Этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool
        include ../components/socials
      .footer__info-quote
        .footer__info-quote-message Если вы делаете то, что для вас действительно важно, вас не приходится подгонять. Вас тянет вперёд ваша мечта
        .footer__info-quote-author Steven Paul Jobs
      