ul#scene.paralax
  li.layer
    +image('content/paralax_1.jpg', 'paralax__pic')
  li.layer
    +image('content/paralax_2.png', 'paralax__pic')
  li.layer
    +image('content/paralax_3.png', 'paralax__pic')
  li.layer
    +image('content/paralax_4.png', 'paralax__pic')
  li.layer
    +image('content/paralax_5.png', 'paralax__pic')
  li.layer
    +image('content/paralax_6.png', 'paralax__pic')
