
ul#scene.paralax
  li.paralax__layer.paralax__layer--1
    +image('content/paralax_1.jpg', 'paralax__pic')
  li.paralax__layer.paralax__layer--2(data-depth="0.1")
    +image('content/paralax_2.png', 'paralax__pic')
  li.paralax__layer.paralax__layer--3(data-depth="0.2")
    +image('content/paralax_3.png', 'paralax__pic')
  li.paralax__layer.paralax__layer--4(data-depth="0.3")
    +image('content/paralax_4.png', 'paralax__pic')
  li.paralax__layer.paralax__layer--5
    +image('content/paralax_5.png', 'paralax__pic')
