section.projects
  .container.container--projects
    .projects__title Мои работы
    .projects__preview
      .projects__preview-pic-wrapper
        +image('content/user.jpg', 'projects__preview-pic')
      .projects__preview-number 2
      .projects__preview-description
        ul.projects__preview-description-icons-list
          li.projects__preview-description-icons-item HTML
          li.projects__preview-description-icons-item CSS
          li.projects__preview-description-icons-item javascript
        .projects__preview-description-title Сайт школы образования
        .projects__preview-description-info.
          Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бесонных ночей!
        .projects__preview-description-link-wrap
          +icon('link', 'projects__preview-description-link-icon')
          a.projects__preview-description-link(href='#' title='При клике вы попадёте на сайт этого проекта') Посмотреть сайт