section.reviews#reviews
  .container--reviews
    .reviews__title Что обо мне говорят
    .reviews__arrows
      .reviews__arrows-item.reviews__arrows-item--left
        +icon('Short Arrow', 'reviews__arrow-left-svg')
      .reviews__arrows-item.reviews__arrows-item--right
        +icon('Short Arrow', 'reviews__arrow-right-svg')
    ul.reviews__list
      li.reviews__item
        .reviews__item-message.
          Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бесонных ночей!
        .reviews__item-who-is-it
          .reviews__item-pic-wrap
            +image('content/koval.jpg', 'reviews__item-pic')
          .reviews__item-info  
            .reviews__item-who-is-it-name Ковальчук Дмитрий
            .reviews__item-who-is-it-status Основатель Loftschool
      li.reviews__item
        .reviews__item-message.
          Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.
        .reviews__item-who-is-it
          .reviews__item-pic-wrap
            +image('content/saba.jpg', 'reviews__item-pic')
          .reviews__item-info  
            .reviews__item-who-is-it-name Сабанцев Владимир
            .reviews__item-who-is-it-status Преподователь
      li.reviews__item
        .reviews__item-message.
          Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бесонных ночей!
        .reviews__item-who-is-it
          .reviews__item-pic-wrap
            +image('content/user.jpg', 'reviews__item-pic')
          .reviews__item-info  
            .reviews__item-who-is-it-name Ковальчук Дмитрий
            .reviews__item-who-is-it-status Основатель Loftschool
      li.reviews__item
        .reviews__item-message.
          Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бесонных ночей!
        .reviews__item-who-is-it
          .reviews__item-pic-wrap
            +image('content/user.jpg', 'reviews__item-pic')
          .reviews__item-info  
            .reviews__item-who-is-it-name Ковальчук Дмитрий
            .reviews__item-who-is-it-status Основатель Loftschool