section.scills
  .container.container--scills
    .scills__text
      .scills__title Чем я могу быть вам полезен
      .hello-from-author__sentiment.
        Этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool.
        Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .scills__characteristics
      h4 Front-end
      ul.scills__list
        li.scills__item
          figure.scill
            svg(width="140" height="140" viewBox="0 0 100 100").scill__svg
              circle(r="47" cx="50" cy="50" fill="transparent" stroke="#393939" stroke-width="2")
              defs
                linearGradient#gradient(x1="0%" y1="0%" x2="0%" y2="100%")
                  stop(offset="0%" stop-color="rgba(255, 165, 0, 1)")
                  stop(offset="100%" stop-color="#cd7000")
              circle.csill__svg-circle-under(cx="50" cy="50" r="47" stroke="url(#gradient)" stroke-width="6" fill="none" transform='rotate(270 50 50)')
            h5.scill__text HTML5
        li.scills__item
          figure.scill
            svg(width="140" height="140" viewBox="0 0 100 100").scill__svg
              circle(r="47" cx="50" cy="50" fill="transparent" stroke="#393939" stroke-width="2")
              defs
                linearGradient#gradient(x1="0%" y1="0%" x2="0%" y2="100%")
                  stop(offset="0%" stop-color="rgba(255, 165, 0, 1)")
                  stop(offset="100%" stop-color="#cd7000")
              circle(cx="50" cy="50" r="47" stroke="url(#gradient)" stroke-width="6" fill="none" transform='rotate(270 50 50)')
            h5.scill__text HTML5
        li.scills__item
          figure.scill
            svg(width="140" height="140" viewBox="0 0 100 100").scill__svg
              circle(r="47" cx="50" cy="50" fill="transparent" stroke="#393939" stroke-width="2")
              defs
                linearGradient#gradient(x1="0%" y1="0%" x2="0%" y2="100%")
                  stop(offset="0%" stop-color="rgba(255, 165, 0, 1)")
                  stop(offset="100%" stop-color="#cd7000")
              circle(cx="50" cy="50" r="47" stroke="url(#gradient)" stroke-width="6" fill="none" transform='rotate(270 50 50)')
            h5.scill__text HTML5
        li.scills__item
          figure.scill
            svg(width="140" height="140" viewBox="0 0 100 100").scill__svg
              circle(r="47" cx="50" cy="50" fill="transparent" stroke="#393939" stroke-width="2")
              defs
                linearGradient#gradient(x1="0%" y1="0%" x2="0%" y2="100%")
                  stop(offset="0%" stop-color="rgba(255, 165, 0, 1)")
                  stop(offset="100%" stop-color="#cd7000")
              circle(cx="50" cy="50" r="47" stroke="url(#gradient)" stroke-width="6" fill="none" transform='rotate(270 50 50)')
            h5.scill__text HTML5
      h4 Workflow
      ul.scills__list
        li.scills__item
          figure.scill
            svg(width="140" height="140" viewBox="0 0 100 100").scill__svg
              circle(r="47" cx="50" cy="50" fill="transparent" stroke="#393939" stroke-width="2")
              defs
                linearGradient#gradient(x1="0%" y1="0%" x2="0%" y2="100%")
                  stop(offset="0%" stop-color="rgba(255, 165, 0, 1)")
                  stop(offset="100%" stop-color="#cd7000")
              circle(cx="50" cy="50" r="47" stroke="url(#gradient)" stroke-width="6" fill="none" transform='rotate(270 50 50)')
            h5.scill__text HTML5
        li.scills__item
          figure.scill
            svg(width="140" height="140" viewBox="0 0 100 100").scill__svg
              circle(r="47" cx="50" cy="50" fill="transparent" stroke="#393939" stroke-width="2")
              defs
                linearGradient#gradient(x1="0%" y1="0%" x2="0%" y2="100%")
                  stop(offset="0%" stop-color="rgba(255, 165, 0, 1)")
                  stop(offset="100%" stop-color="#cd7000")
              circle(cx="50" cy="50" r="47" stroke="url(#gradient)" stroke-width="6" fill="none" transform='rotate(270 50 50)')
            h5.scill__text HTML5
        li.scills__item
          figure.scill
            svg(width="140" height="140" viewBox="0 0 100 100").scill__svg
              circle(r="47" cx="50" cy="50" fill="transparent" stroke="#393939" stroke-width="2")
              defs
                linearGradient#gradient(x1="0%" y1="0%" x2="0%" y2="100%")
                  stop(offset="0%" stop-color="rgba(255, 165, 0, 1)")
                  stop(offset="100%" stop-color="#cd7000")
              circle(cx="50" cy="50" r="47" stroke="url(#gradient)" stroke-width="6" fill="none" transform='rotate(270 50 50)')
            h5.scill__text HTML5
        li.scills__item
          figure.scill
            svg(width="140" height="140" viewBox="0 0 100 100").scill__svg
              circle(r="47" cx="50" cy="50" fill="transparent" stroke="#393939" stroke-width="2")
              defs
                linearGradient#gradient(x1="0%" y1="0%" x2="0%" y2="100%")
                  stop(offset="0%" stop-color="rgba(255, 165, 0, 1)")
                  stop(offset="100%" stop-color="#cd7000")
              circle(cx="50" cy="50" r="47" stroke="url(#gradient)" stroke-width="6" fill="none" transform='rotate(270 50 50)')
            h5.scill__text HTML5
    .scills__pic-wrapper
      +image('content/hands.png', 'scills__pic')