section.scills
  .container.container--scills
    .scills__text
      .scills__title Чем я могу быть вам полезен
      .hello-from-author__sentiment.
        Этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool.
        Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .scills__characteristics
      ul.scills__frontend-list
        li.scills__frontend-item HTML5
          svg(width="140" height="140")
            circle(r="65" cx="70" cy="70" fill="transparent" stroke="#393939" stroke-width="2")
          //-   defs
          //-     linearGradient#gradient(x1="0%" y1="0%" x2="0%" y2="100%")
          //-       stop(offset="0%" stop-color="#00bc9b")
          //-       stop(offset="100%" stop-color="#5eaefd")
  
          //-   circle(r="65" cx="70" cy="70" fill="transparent" stroke="#url(#gradient)" stroke-width="12" fill="none")

        li.scills__frontend-item
        li.scills__frontend-item
        li.scills__frontend-item
      ul.scills__workflow-list
        li.scills__workflow-item
        li.scills__workflow-item
        li.scills__workflow-item
        li.scills__workflow-item
    .scills__pic-wrapper
      +image('content/hands.png', 'scills__pic')