section.scills
  .container.container--scills
    .scills__text
      .scills__title Чем я могу быть вам полезен
      .hello-from-author__sentiment.
        Этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool.
        Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .scills__characteristics
      ul.scills__frontend-list
        li.scills__frontend-item
        li.scills__frontend-item
        li.scills__frontend-item
        li.scills__frontend-item
      ul.scills__workflow-list
        li.scills__workflow-item
        li.scills__workflow-item
        li.scills__workflow-item
        li.scills__workflow-item
    .scills__pic-wrapper
      +image('content/hands.png', 'scills__pic')