section.welcome#welcome
    .container.container--welcome
        header.header
            .initials СА
            +nav('nav', {'Главная': 'welcome', 'Обо мне': 'about-me', 'Навыки': 'scills', 'Работы': 'projects', 'Отзывы': 'reviews', 'Связаться': 'connect'}, 0)
            include ../components/socials
            .hamburger-menu
        .welcome__title-wrap
            .welcome__title-info Личный сайт <br>веб разработчика
            .welcome__title-author Антон<br>Соколов
        a.scroll(href='#about-me') 
            .scroll__text#about-me Скролл
            +icon('scroll', 'scroll__icon')
