section.welcome
    .container.container--welcome
        header.header
            .initials СА
            +nav('nav', ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'], 0)
            include ../components/socials
            .hamburger-menu
        .welcome__title-wrap
            .welcome__title-info Личный сайт <br>веб разработчика
            .welcome__title-author Антон<br>Соколов
        .scroll 
            .scroll__text Скролл
            +icon('scroll', 'scroll__icon')