section.welcome
    .container.container--welcome
        header.header
            .initials САf
            +nav('nav', ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'], 0)
            include ../components/socials
            .hamburger-menu
        .welcome__title-wrap
            .welcome__title-info Личный сайт <br>веб разработчика
            .welcome__title-author Антон<br>Соколов
        +icon('scroll', 'welcome__scroll')